attrs==24.2.0
boto3==1.35.60
botocore==1.35.58
coverage==7.6.4
dnspython==2.7.0
fqdn==1.5.1
iniconfig==2.0.0
jmespath==1.0.1
natsort==8.4.0
octodns==1.10.0
octodns-route53==0.0.7
packaging==24.2
pluggy==1.5.0
pprintpp==0.4.0
py==1.11.0
pycountry==24.6.1
pycountry-convert==0.7.2
pyparsing==3.2.0
pytest==8.3.3
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
repoze.lru==0.7
s3transfer==0.10.3
six==1.16.0
tomli==2.1.0
urllib3==2.2.3
